<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Maps" type="System.Configuration.AppSettingsSection"/>
    <section name="AI" type="System.Configuration.AppSettingsSection"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Generals.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <Maps>
  </Maps>
  <AI>
  </AI>
  <userSettings>
    <Generals.Settings>
      <setting name="Gap" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="Rule" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ViewAsKing" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Legacy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Generator" serializeAs="String">
        <value />
      </setting>
      <setting name="GenArg" serializeAs="String">
        <value />
      </setting>
    </Generals.Settings>
  </userSettings>
</configuration>